<div class="tweets__image" %>
  <%= image_tag tweet.image %>
</div>
  <ul class="more_list">
    <li>
      <%= link_to 'show', tweet_path(tweet), method: :get%>
    </li>
    <% if user_signed_in? && ( current_user.id == tweet.user_id || current_user.admin? ) %>
    <li>
      <%= link_to 'edit', edit_tweet_path(tweet) %>
    </li>
    <li>
      <%= link_to 'delete', tweet_path(tweet), method: :delete %>
    </li>
    <% end %>
  </ul>
<div class="tweets__text" %>
  <%= tweet.text %>
</div>
