<div class="m-tweet">
  <div class="m-tweet-text" %>
    <h3>
      <%= tweet.text %>
    </h3>
    <div class="m-tweet-name">
      <%= link_to "#{tweet.user.name}", user_path(tweet.user.id), class: 'txt-skyblue right' %>
    </div>
  </div>

  <div class="m-tweet-image" %>
    <%= image_tag tweet.image %>
  </div>

  <ul class="m-tweet-menu">
    <li>
      <%= link_to 'show', tweet_path(tweet), class: 'ui submit button bg-skyblue bg-skyblue-hover txt-white'%>
    </li>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <li>
      <% if policy(tweet).update? %>
        <%= link_to 'edit', edit_tweet_path(tweet), class: 'ui submit button bg-pink bg-pink-hover txt-white' %>
      <% end %>
      </li>
      <li>
      <% if policy(tweet).destroy? %>
        <%= link_to 'delete', tweet_path(tweet), class: 'ui submit button bg-black bg-black-hover txt-white' %>
      <% end %>
      </li>
    <% end %>
  </ul>

  <% tweet.tag_list.each do |tag| %>
    <span class="ui submit button bg-black bg-black-hover txt-white"=><%= tag %></span>
  <% end %>

</div>
