<div class="m-tweet">
  <div class="m-tweet-text" %>
    <h3>
      <%= tweet.text %>
    </h3>
    <div class="m-tweet-name">
      <%= link_to "#{tweet.user.name}", user_path(tweet.user), class: 'txt-skyblue right' %>
    </div>
  </div>

  <div class="m-tweet-image" %>
    <%= image_tag tweet.image %>
  </div>

  <ul class="m-tweet-menu">
    <li>
      <%= link_to 'show', tweet_path(tweet), class: 'ui submit button bg-skyblue bg-skyblue-hover txt-white'%>
    </li>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
      <li>
      <% if policy(tweet).update? %>
        <%= link_to 'edit', edit_tweet_path(tweet), class: 'ui submit button bg-pink bg-pink-hover txt-white' %>
      <% end %>
      </li>
      <li>
      <% if policy(tweet).destroy? %>
        <%= link_to 'delete', tweet_path(tweet), class: 'ui submit button bg-black bg-black-hover txt-white', method: :delete %>
      <% end %>
      </li>

      <span id="like-of-<%= tweet.id %>">
        <%= render partial: 'likes/like', locals: { tweet: tweet, likes: tweet.likes } %>
      </span>

    <% end %>
  </ul>

    <div class="ui teal labels">
    <% tweet.tags.each do |tag| %>
      <%= link_to tag_path(tag), class: 'ui label' do %>
        <%= tag %><i class="icon close"></i>
      <% end %>
    <% end %>
    </div>

    <%= react_component('Like', 
      props: {
        user_id: current_user.id,
        tweet_id: tweet.id,
        count: tweet.likes.count,
        like_id: tweet.likes.find_by(user_id: current_user.id).try(:id) }) %>
    <!-- TODO: like_idのところいくらなんでもクソコードすぎる問題 -->
</div>
