<%= search_form_for @search, url: tags_path do |f| %>
  <div class="ui search">
    <div class="ui icon input">
      <%= f.text_field :name_cont, class: "prompt", placeholder: "Tag Name..."%>
      <i class="search icon"></i>
      </input>
    </div>
    <%= f.submit class: "ui submit button" %>
  </div>
<% end %>

<div class="ui message">
  <div class="header">
    Search results are here ...
  </div>
  <p>By clicking on the tag, you can see a list of tweets that transit to the tag's detail page and tied to the tag.</p>
</div>

<div class="ui teal labels">
  <% @search_tags.each do |search_tag| %>
  <%= link_to tag_path(search_tag), class: 'ui label' do %>
    <%= search_tag %><i class="icon close"></i>
  <% end %>
  <% end %>
</div>
